body{
    font-family:sans-serif;
   
}


.container{
    border:1px solid black;
    width: max-content;
    padding:2rem;
    border-radius: 10px;
    
}

.displaycv{
    border:1px solid black;
    width: max-content;
    padding: 2rem;
    border-radius: 10px;
}

.containerOfAll{
    display: flex;
    flex-direction: row;

}

.clear{
    margin:1rem;
    
}




