body{
    font-family:sans-serif;
   
}


.container{
    border:1px solid black;
    width: max-content;
    padding:2rem;
    border-radius: 10px;
    
}

.displaycv{
    border:1px solid black;
    width: max-content;
    padding: 2rem;
    border-radius: 10px;
    position:absolute;
    margin-left:30rem;
}



.clear{
    margin:1rem;
    
}


.input-container{
    display: flex;
    flex-direction: column ;
    width: max-content;
    border:1px solid black;
}
.all{
    display: flex;

        
}

.cv-display-container{
    margin-left:30rem;
}


